/*CSS document for contact form */
body{
	margin-right: 10%;
	width:100%;
	background-color: #68AD9D;
	background-attachment: fixed;
	font-family:cascadia code, helvetica;
	background-image: url('images/pixels.jpg'); background-size: cover; 
	background-attachment: fixed;"
}

.pagebox{
width: 60%;
margin: auto;
background-color: #CCEBE3;
min-height: 100vh;
display: flex;
flex-direction: column;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333333;
}

li{
float: left;
font-size: 17px;
}

li a{
display:block;
color: #B47EB3;
text-align: center;
padding: 14px;
text-decoration-style: wavy;
font-family:helvetica, arial;
font-weight: bold;
}

li a:hover:not(.active){
background-color: #111111;
}


section{
	background-color:#88bdbc;
	color: #254e58;
	padding: 5px;
}

h1{
	font-size: 38pt;
	text-align: center;
	
}


footer{
	background-color: #6393D6;
	text-align: center;
	font-style: italic; font-size: 14px;
	margin-top: auto;
	padding: 20px 0;
}

@media only screen and (max-width: 600px){
	input{width: 100%}
	body{margin-Right: 5%;
	margin-left: 5%;
	width: 90%;}
}

@media only screen and (max-width: 834px){
h1{font-size: 42px;}


@media only screen and (max-width: 568px){
.pagebox{width: 90%;}
.topnav{width: 100%;
overflow: hidden;
padding: none;}
.topnav a{width:100%;
display: block;
text-align: center;
background-color: #000000;
border-style: solid;
border-width: 1px
border-color: #323232;}
}



